<!DOCTYPE html>
<html>
<head>
  <td width="125"><img src="/image/lo.PNG" alt="logo" width="150" height="50"/></td>
<style>
a:link, a:visited {
  background-color: green;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: blue;
}
body {
  background-image: url("/image/Dark.JPG");
  background-repeat:no repeat;
  background-size:100%
}
.footer {
position: fixed;
left: 0;
bottom: 1%;
width: 100%; height: 5%;
color: black;
text-align: center;
}
#pa{margin-top:-600px;}
body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Create a column layout with Flexbox */
.row {
  display: flex;
}

/* Left column (menu) */
.left {
  flex: 35%;
  padding: 15px 0;
}

.left h2 {
  padding-left: 8px;
}

/* Right column (page content) */
.right {
  flex: 65%;
  padding: 15px;
}

/* Style the search box */
#mySearch {
  width: 50%;
  font-size: 18px;
  padding: 11px;
  border:1px solid blue;
}

/* Style the navigation menu inside the left column */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myMenu li a {
  backgrxound-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myMenu li a:hover {
  background-color: #eee;
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Create a column layout with Flexbox */
.row {
  display: flex;
}

/* Left column (menu) */
.left {
  flex: 35%;
  padding: 15px 0;
}

.left h2 {
  padding-left: 8px;
}

/* Right column (page content) */
.right {
  flex: 65%;
  padding: 15px;
}

/* Style the search box */
#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}

/* Style the navigation menu inside the left column */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block
}

#myMenu li a:hover {
  background-color: #eee;
}<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Create a column layout with Flexbox */
.row {
  display: flex;
}

/* Left column (menu) */
.left {
  flex: 35%;
  padding: 15px 0;
}

.left h2 {
  padding-left: 8px;
}

/* Right column (page content) */
.right {
  flex: 65%;
  padding: 15px;
}

/* Style the search box */
#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}

/* Style the navigation menu inside the left column */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block
}

#myMenu li a:hover {
  background-color: #eee;
}

</style>
<link rel="stylesheet"type="text/css"href=external.css>
</head>
<body>
<div class="header">
  <center><div class="a">
    <a href="/">Home</a>
    <a href="/Reportlossed">Report lossed </a>
    <a href="/Reportfound">Report Found</a>
    <a href="/aboutus">About us</a>
    <a href="/contactus">Contact</a>
    <a href="/admin">Admin</a>
</div></center><br>
<div style="background-color:white;margin:0 auto; border-radius:1px;box-shadow:2px; width:1100px; height:900px">
 
  
  <div class="row">
    <div class="left" style="background-color:orange;">
   
      
      <ul id="myMenu">
        
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </ul>
    </div>
    
    <div class="right" style="background-color:lightgray;">
      <h2>About Lost documents Retrievel</h2>
      <p>Welcome to Lost documents Retrievel the most comprehansive devoted exclusively to the recovery of </p>
      <p>pets and personal property.our sole purpose is to reunite lost and found pets and property to their respective</p>
      <p> owners using the dynamic communication channels provided bu the internet.what could be more satisfying than returning</p>
      <p> the fmily dog or engagement ring to their respective owners?</p>
<br>
<p>Lost document Retrievel (the internet lost and found) offers visitors a convenient, one-stop source for the</p>
<p> exchange of lost and found informatioin including the most comprehensive online datanase of lost and property </p>
<p>listings, photos, resources advice and support tools, on the internet. Lost and found offers this informatioin on a local,</p>
<p>nation and internatioinal basis. it features a variety of categories and services that aim to provide users with the necessary</p>
<p>tools(some of with are uniquely suited to the internet) for the effective communication of lost and found information</p><br>

<p>Avoid the costs and headaches of doing it yourself. increasw cash flow and reduce denials with our</p>
<p>state-of-the-art submission and appeals system.let our medical billing team handle your entire</p>
<p>medical billing management from start to finish.</p>
<br>
<p>Avoid the costs and headaches of doing your own medical billing.</p>
<p>increase cash flow reduce denials.</p>
<p>Take advantage of our state-of-the-art medical billing submission and appeals system.</p>
    </div>
  </div>
  
  <script>
  function myFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("mySearch");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myMenu");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
      a = li[i].getElementsByTagName("a")[0];
      if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
      } else {
        li[i].style.display = "none";
      }
    }
  }
  </script><br><br><br>
<div  class="footer_padding" style="margin-left:-100px; margin-right:-100px">

<p align="center">copy_right by esther ishimwe</p></div>
</div>
</div>
</body>
</html>

                                                                                                                                                                                                                                                                  
