<!DOCTYPE html>
<html>
<head>
<td width="125"><img src="/image/lo.PNG" alt="logo" width="150" height="50"/></td>
</head>
<style>
a:link, a:visited {
  background-color: #FFA500;
  color: white;
  padding: 14px 25px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color:	#D3D3D3;
}
body {
  background-image: url("/image/Dark.jpg"); 
  background-repeat:no repeat;
  background-size:100%
}
.footer {
position: fixed;
left: 0;
bottom: 1%;
width: 100%; height: 5%;
color: black;
text-align: center;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Create a column layout with Flexbox */
.row {
  display: flex;
}

/* Left column (menu) */
.left {
  flex: 35%;
  padding: 15px 0;
}

.left h2 {
  padding-left: 8px;
}

/* Right column (page content) */
.right {
  flex: 65%;
  padding: 15px;
}

/* Style the search box */
#mySearch {
  width: 50%;
  font-size: 18px;
  padding: 11px;
  border:1px solid	#D3D3D3;
}

/* Style the navigation menu inside the left column */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myMenu li a {
  backgrgound-color: 	#D3D3D3;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myMenu li a:hover {
  background-color: #eee;
}
* {
  box-sizing: border-box;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color:#FFA500;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #FFA500;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


</style>
<body>
<head>
<link rel="stylesheet"type="text/css"href=external.css>



<div class="header">
  <center><div class="a">
    <a href="/">Home</a>
    <a href="/Reportlossed">Report lossed </a>
    <a href="/Reportfound">Report Found</a>
    <a href="/aboutus">About us</a>
    <a href="/contactus">Contact</a>
    <a href="/admin">Admin</a>
<body>
<div style="background-color:white;margin:0 auto; border-radius:1px;box-shadow:2px; width:1100px; height:1000px">
<div style="text-align:left ">
<blockquote><h1 style="color:blue">Contanct Administration: Online Lost document Retrieve</h1>
<div style="color:gray">Online Lost document Retrieve  <br></div>
 P.O BOX 32365<br>
 KIGALI,RWNDA<br>
 <br><br>
 P.O BOX 42504<br>
 KIGALI,RWANDA<br>
 Phone:+250787392420<br>
 <br><br>
 <p>If you would like more information or someone to contact you regarding The Online Lost document Retrieve,please fill out the following<br>
 form and we will have someone get back with the information you request.<b>TAB</b> to change fields.Once form is completed,please click <b>SUBMIT</b> at the<br>
 buttom of the page.
<br><br><blockquote>
<br>
<div class="container">submit
  <form  action="/ella/contactUs" method="POST">
    <label for="fname">User Name</label>
    <input type="text"   placeholder="Your name.." id="a" name="name" required >

    <label for="lname">E-mail</label>
    <input type="text"  name="email" placeholder="Your E-mail.." id="b" name="email" required>
    <label for="subject">Subject</label>
    <textarea  name="subject" placeholder="Write something.." style="height:200px" id="c" name="subject" required></textarea>
  <!-- <input type="submit" value="Submit" > -->
  <button type="submit" class="btn">Submit</button>

 
	<script type="text/javascript">
function you()
{
var e = document.getElementById("a").value;
var d = document.getElementById("b").value;
var c = document.getElementById("c").value;
if(e==""||d=""||c="")
{
alert("Please fill the form") ;
document.getElementById("a").focus();

}
else
{
console.log("thank you")
}
getElementById("i").innerHTML=("Thank you");
}



</script>
  </form>
</div>
 
</div>

 </div>
 </div>
 </div>

 
 </body>
<div  class="footer_padding" style="margin-left:-100px; margin-right:-100px">
<p align="center">copy_right by esther ishimwe</p></div>
 
</html>
 
